body {
	padding:0;
	margin:0;
	width: 1200px;
}
h1 {
    color: black;
    font-size: 33x;
    font-weight: bold;
    font-family: Roboto;
}
h2 {
    color: black;
    font-size: 13px;
    font-weight: normal;
    font-family: Roboto;
    text-transform: uppercase;
    font-weight: 600;
}
header, .slider, .welcome {
	background-color: #eeeeee;
  	min-height: 56;
}
.main_navigation{
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    display: inline;
    white-space: nowrap;
}
span{
    text-transform: uppercase;
    font-size: 12px;
}
header li {
    list-style-type: none;
    text-align: center;
}
.social_btn_vk {
    background: #eeeeee;
    border-radius: 62px;
}
.social_btn_fb {
    background: #eeeeee;
    border-radius: 50px;
}

.social_btn_inst {
    background: #eeeeee;
    border-radius: 50px;
}
.sponsors {
    opacity: 0.2;
}
.AGlukhanko {
    margin-left: 12px;
}
.Html_Academy {
    margin-left: 120px;
    margin-right: 123px; 
}
.Barbershop_Borodinski {
    margin-right: 19px;
}
.sort_menu {
    opacity: 0.2;
}
.ascending{
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid green;
}
.descending{
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #eeeeee;
}
.the_store_page {
    background: #eeeeee;
}

/*Сетка*/
.logo {
    height: 56px;
    width: 139px;
    float: left;
    margin-right: 183px;
    margin-left: 161px;
}
.main_navigation {
    height: 56px;
    width: 557px;
    float: right;
    margin-right: 160px;
}
.slider {
    clear: both;
    height: 231px;
    width: 881px;
    margin-left: 160px;
    margin-right: 160px;
    float: left;
}
.img_slider {
    float: right;
    margin-right: 160px;
    margin-left: 182px;
}
.specializations {
    clear: both;
}
.web_sites {
    float: left;
    margin-left: 160px;
    margin-right: 80px;
    width: 240px;
    height: 124px;
}
.apps {
    float: left;
    margin-right: 80px;
    width: 240px;
    height: 124px;
}
.presentations {
    float: right;
    margin-right: 160px
    width: 240px;
    height: 124px;
}
.info_about_company, .orders {
    float: right;
    margin-left: 159px;
    height: 326px;
    width: 571px;
    margin-right: 68px;
}
.how_we_work, .year_of_foundation {
    clear: both;
    height: 341px;
}
.logo_sinse {
    margin-left: 31px;
}
.sponsors {
    clear: both;
    height: 166px; 
    width: 880px;
    margin-left: 160px;
    margin-right: 160px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}